@import "variables";
@import "mixins";
@import "class";

.header {
  @extend %header-shared
}
.header img {
  height: 35px;
  padding: 10px 15px 10px 10px;
}
.bar {
  @extend %header-shared;
  top: $header-height;
  height: 40px;
  background: black;
}
.bar2 {
  @extend %header-shared;
  top: $header2-height;
  height: 20px;
  background: dimgrey;
}
.text {
  @extend %text-shared;
}
.text2 {
  @extend %text-shared;
  font-size: 10px;
}